html{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: rgba(71, 161, 221, 0.4)
}
.comment-box{
    margin: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1.5rem rgba(0,0,0,0.5);
    padding: 10px;
    background-color: rgba(71, 161, 230, 0.2);
    overflow: hidden;
    /* border-radius: 1rem; */

}
.comment-list{

}
.comment{
    font-weight: 100;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 1.5rem rgba(0,0,0,0.5);
    margin: 10px;
    padding: 2px;
}
.comment-user{
    font-weight: 1500;
    text-decoration: underline;
}
.comment-body{}
.comment-date{}
.button{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 1px 1.5rem rgba(0,0,0,0.5);
    /* justify-content: right; */
    float: right;
    display:inline-block;
    margin: 10px;
}